{% extends 'base.html.twig' %}

{% block title %}
  Create new
{% endblock %}

{% block headscripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css" />
  <script type="text/css">
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
  </script>
{% endblock %}

{% block navbar %}
<li><a href="/">Todo list</a></li>
<li class="active"><a href="#">Create new</a></li>
{% endblock %}

{% block body %}
<div ng-app="">
  <h2 class="page-header">Create new</h2>
  <form name="form" method="post">
      <div class="form-group">
          {{ form_row(form.name, {'attr' : {'class' : 'form-control'}}) }}
      </div>
        {% verbatim %}
            <div class="form-group{{ description.length >= 255 ? ' has-error' : ''}}">
        {% endverbatim %}
            {{ form_label(form.description) }}
            {% verbatim %}
                <span ng-if="description.length > 40" ng-cloak>
                    {{ description.length >= 255 ? '0' : 255 - description.length }} characters left
                </span>
            {% endverbatim %}
            {{ form_widget(form.description, {'attr' : {'class' : 'form-control', 'ng-model' : 'description', 'ng-trim' : 'false'}}) }}
        </div>
    <div class="form-group">
        {{ form_row(form.priority, {'attr' : {'class' : 'form-control'}}) }}
    </div>
    <label for="form_dueDate" class="required">Due Date</label>
    <div class="form-group">
        <div class='input-group date' id='dueDate'>
            {{ form_widget(form.dueDate, {'attr' : {'class' : 'form-control'}}) }}
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    {{ form_rest(form) }}
    <div class="form-group">
        {% verbatim %}
            <input type="submit" value="Create" class="btn btn-primary pull-right{{ description.length >= 255 ? ' disabled' : ''}}" />
        {% endverbatim %}
    </div>
  </form>
</div>
{% endblock %}

{% block javascripts %}
    <script src="/js/moment.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        jQuery(function () {
      	   jQuery('#dueDate').datetimepicker({
             format: 'DD/MM/YYYY HH:mm'
         });
       });
    </script>
{% endblock %}
