{% extends 'base.html.twig' %}

{% block title %}
  Todo List
{% endblock %}

{% block stylesheets %}
<style type="text/css">
  .center-text {
    text-align: center;
  }
  .text-danger {
    color: #9A0000;
  }
  .text-warning {
    color: #FF6600;
  }
  .text-info {
    color: #003FC8;
  }
  .alert-danger {
    color: #9A0000;
  }
  .alert-warning {
    color: #FF6600;
  }
  .alert-info {
    color: #003FC8;
  }
  .clickable-row {
      cursor: pointer;
  }
  .ghost {
      opacity: .5;
      background: #C8EBFB;
  }

  #sortable {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    }
    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-o-keyframes fadein { /* Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }
</style>
{% endblock %}

{% block headscripts %}
<script src="/js/Sortable.min.js"></script>
{% endblock %}

{% block navbar %}
<li class="active"><a href="#">Todo list</a></li>
<li><a href="/create">Create new</a></li>
{% endblock %}

{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Your todolist</h4>
    </div>
    {% if todos is not empty %}
    <ul class="list-group" id="sortable">
        {% for todo in todos %}
            <li class="list-group-item clickable-row clearfix" data-id="{{ todo.id }}" data-href="/details/{{ todo.id }}">
                {% if todo.priority == "High" %}
                  <span class="text-danger fa fa-exclamation-circle fa-fw"></span>
                {% elseif todo.priority == "Medium" %}
                  <span class="text-warning fa fa-exclamation-triangle fa-fw"></span>
                {% else %}
                  <span class="text-info fa fa-exclamation fa-fw"></span>
                {% endif %}
                <strong>{{ todo.name }}</strong>
                <div class="btn-group btn-group-sm pull-right" role="group">
                    <a class="btn btn-default" href="/details/{{ todo.id }}" data-toggle="tooltip" title="View"><span class="fa fa-eye"></span></a>
                    <a class="btn btn-warning" href="/edit/{{ todo.id }}" data-toggle="tooltip" title="Edit"><span class="fa fa-pencil"></span></a>
                    <a class="btn btn-danger" href="/delete/{{ todo.id }}" data-toggle="tooltip" title="Delete"><span class="fa fa-trash-o"></span></a>
                </div>
          </li>
        {% endfor %}
    </div>
    {% else %}
    <div class="panel-heading">
        <h4>No todos</h4>
    </div>
    <div class="panel-body">
        You have no todos at the moment. <a href="/create">Create one?</a>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
  <script>

  var saved = '{{ saved_order | raw }}';
  var savedOrder = saved.split(",");

  var el = document.getElementById('sortable');
  var sortable = Sortable.create(el, {
      group: 'todos',
      sort: true,
      delay: 0,
      store: {
          /**
           * Get the order of elements. Called once during initialization.
           * @param   {Sortable}  sortable
           * @returns {Array}
           */
          get: function (sortable) {
              var order = localStorage.getItem(sortable.options.group.name);
              return order ? order.split(',') : [];
          },

          /**
           * Save the order of elements. Called onEnd (when the item is dropped).
           * @param {Sortable}  sortable
           */
          set: function (sortable) {
              var order = sortable.toArray();
              localStorage.setItem(sortable.options.group.name, order.join(','));
          }
      },
      ghostClass: 'ghost',
      dataIdAttr: 'data-id',
      chosenClass: "sortable-chosen",
      scroll: true,
      scrollSensitivity: 30,
      scrollSpeed: 10,
      onEnd: function (evt) {
          var order = sortable.toArray();
          $.ajax({
              type: 'GET',
              url: '/order/apply?data=' + order,
              dataType: "text"
          });
      }
  });
  sortable.sort(savedOrder);

  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip({container: 'body'});
  });

  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
  });
</script>
{% endblock %}
