{% extends 'base.html.twig' %}

{% block title %}
  Create an account
{% endblock %}

{% block headscripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
{% endblock %}

{% block stylesheets %}
<style type="text/css">
    input:-webkit-autofill
    {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    .form-control::-webkit-input-placeholder
    {
        color: #242424;
    }
    .form-control:-moz-placeholder
    {
        color: #242424;
    }
    .form-control::-moz-placeholder
    {
        color: #242424;
    }
    .form-control:-ms-input-placeholder
    {
        color: #242424;
    }
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>
{% endblock %}

{% block usernavbar %}
    <li><a href="/login">Login</a></li>
    <li class="active"><a href="/create_account">Create an account</a></li>
{% endblock %}

{% block body %}
  <h2 class="page-header">Create a new account</h2>
<div ng-app="newUserApp" ng-controller="mainController">
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong class="fa fa-info"></strong>&nbsp;&nbsp; Already have an account? <a href="/login" class="alert-link">Login.</a>
  </div>

  {% set usernameIssue = app.session.flashbag.get('usernameIssue') %}
  {% set passwordIssue = app.session.flashbag.get('passwordIssue') %}

  {% for flash_message in usernameIssue %}
    <div class="alert alert-danger">
      {{ flash_message }}
    </div>
  {% endfor %}

  {% for flash_message in passwordIssue %}
    <div class="alert alert-danger">
      {{ flash_message }}
    </div>
  {% endfor %}

  <form name="form" method="post">
    {{ form_start(form) }}
    {% if form_errors(form.plainPassword.first) | length > 0 %}
        <div class="alert alert-danger">
            The entered passwords did not match.
        </div>
    {% endif %}
    {% if form_errors(form.username) | length > 0 %}
        <div class="alert alert-danger">
            Your desired username has already been taken.
        </div>
        <div class="form-group has-error">
    {% elseif usernameIssue is not empty %}
        <div class="form-group has-error">
    {% else %}
        {% verbatim %}
        <div class="form-group{{ showUsernameLengthWarning ? ' has-error' : ''}}">
        {% endverbatim %}
    {% endif %}
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <span class="fa fa-user fa-fw"></span>
                </span>
                {{ form_widget(form.username, {'attr' : {'class' : 'form-control', 'placeholder' : 'Username', 'ng-model' : 'username', 'ng-change' : 'change()'}}) }}
                {% verbatim %}
                    <div ng-if="usernameShort" class="input-group-addon">
                        Too short
                    </div>
                    <div ng-if="usernameLong" class="input-group-addon">
                        Too long
                    </div>
                {% endverbatim %}
            </div>
        </div>

        {% if form_errors(form.plainPassword.first) | length > 0 %}
            <div class="form-group has-error">
        {% elseif passwordIssue is not empty %}
            <div class="form-group has-error">
        {% else %}
            <div class="form-group">
        {% endif %}
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <span class="fa fa-lock fa-fw"></span>
                </span>
                {{ form_widget(form.plainPassword.first, {'attr' : {'class' : 'form-control', 'placeholder' : 'Password'}}) }}
            </div>
        </div>

        {% if form_errors(form.plainPassword.first) | length > 0 %}
            <div class="form-group has-error">
        {% elseif usernameIssue is not empty %}
            <div class="form-group has-error">
        {% else %}
            <div class="form-group">
        {% endif %}
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <span class="fa fa-lock fa-fw"></span>
                </span>
                {{ form_widget(form.plainPassword.second, {'attr' : {'class' : 'form-control', 'placeholder' : 'Confirm Password'}}) }}
            </div>
        </div>

    <input type="submit" value="Create an account" class="btn btn-primary pull-right" />
    {{ form_end(form) }}
  </form>
</div>
{% endblock %}

{% block javascripts %}
<script>
    var newUserApp = angular.module('newUserApp', [])

        .controller('mainController', function($scope) {
            $scope.showUsernameLengthWarning = false;
            $scope.usernameShort = false;
            $scope.usernameLong = false;
            $scope.change = function() {
                if($scope.username.length < 5)
                {
                    $scope.showUsernameLengthWarning = true;
                    $scope.usernameShort = true;
                }
                else if($scope.username.length > 32)
                {
                    $scope.showUsernameLengthWarning = true;
                    $scope.usernameLong = true;
                }
                else
                {
                    $scope.showUsernameLengthWarning = false;
                    $scope.usernameLong = false;
                    $scope.usernameShort = false;
                }
            }

    });
</script>
{% endblock %}
